
@media (min-width: 576px){
    #left {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

@media (min-width: 768px) {
   
}

@media (min-width: 992px) {
   
}

@media (min-width: 1200px) {
   
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1367px) {


}

@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {
   
}

@media (max-width: 991.98px) {
   
}

@media (max-width: 1024px) {}

@media (max-width: 1199.98px) {}

@media (min-width: 993px) and (min-width:1024px) {

}
